.App {
  font-family: 'Segoe UI', sans-serif;
  padding: 30px;
  max-width: 900px;
  margin: auto;
  background-color: #fdfdfd;
}

section {
  margin-top: 40px;
}

h2 {
  color: #333;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

/* App.css */

.App.light {
  background-color: #ffffff;
  color: #000000;
}

.App.dark {
  background-color: #121212;
  color: #f1f1f1;
}